<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.mycom.myapp"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>Movie demo</name>
 
    <description>
        A simple movie directory application
    </description>
	<access origin="http://google.com" />
	<access origin="http://www.thomas-bayer.com" />
	<access origin="http://api.themoviedb.org" />
	<access origin="http://d3gtl9l2a4fn1j.cloudfront.net" />


    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
 
</widget>